<ui-view>
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-offset-5 col-md-7">
        <h2>Company details</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Company Mobile</th>
                        <th>Company Address</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
                		<td>{{datassss.company_name}}</td>
                		<td>{{datassss.company_mobile}}</td>
                		<td>{{datassss.company_address}}</td>
                	</tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</ui-view>
