<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="row">
                <h3> <label moment-picker="date" format="YYYY-MM-DD">Search By Date {{date}}<span class="glyphicon glyphicon-calendar"></span></label></h3>
                <button class="btn btn-primary search" ng-click="datetimer(date)">Search</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>PO ENTRY</th>
                            <th>PO NUMBER</th>
                            <th>PO DATE</th>
                            <th>PO STATUS</th>
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dutys in duty" ng-click="popuping(dutys)">
                            <td>{{dutys.po_entry}}</td>
                            <td>{{dutys.po_number}}</td>
                            <td>{{dutys.po_date}}</td>
                            <td ng-show="dutys.po_status==true">
                                <button class="btn btn-primary">TRUE</button>
                            </td>
                            <td ng-show="dutys.po_status==false">
                                <button class="btn btn-danger">{{dutys.po_status}}</button>
                            </td>
                            <td>FALSE</td>
                        </tr>
                        <tr ng-show = "duty.length<=0">
                        <td colspan="5">No Data found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="pops.html">
    <div class="modal-header text-center newhead">
        <center>
            <h3 class="modal-title">PO Details</h3></center>
    </div>
    <div class="modal-body newbody1">
        <p>PO ENTRY: {{popups.po_entry}}</p>
        <p>Item Code: {{popups.item_code}}</p>
        <p>Item Description: {{popups.item_description}}</p>
        <p>Item Quantity: {{popups.item_quantity}}</p>
        <p>Price: {{popups.price}}</p>
    </div>
    <div class="modal-footer text-center">
        <center>
            <!-- <button class="btn btn-primary" type="button" ng-click="close()" style="background: rgba(0, 0, 0, 0.98);">Ok</button> -->
        </center>
    </div>
</script>
<style type="text/css">
.search {
    color: #fff;
    background-color: #333;
    border-color: #333;
    font-size: small;
       margin-top: -7em;
    margin-left: 32em;
}
</style>
