<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 sidenav">
            <div class="row">
                <ul><a ui-sref="sidenav.purchaseorder">Purchase Orders</a></ul>
                <ul><a ui-sref="sidenav.GoodsReceipt">Goods Receipt PO</a></ul>
                <ul><a ui-sref="sidenav.GateEntry">Gate Entry</a></ul>
                <ul><a href="" ng-click="logout()">Log Out</a></ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.sidenav {
    z-index: 1;
    background: black;
    height: 100vh;
    position: fixed;
}

.sidenav ul {
    list-style-type: none;
    padding: 16px;
    font-size: 19px;
    color: white;
}

.sidenav ul a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

</style>
