<div class="col-xs-12 col-sm-12 col-md-12 log" id="log">
    <div class="row login-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 login-form1">
                <div class="col-md-12 text-center loginbox">
                    <form name="adminlogin">
                        <br>
                        <p> Mobile Number</p>
                        <div>
                            <input type="text" id="username" name="mobilenumber" ng-model="login.mobile" placeholder="Enter your mobile number">
                        </div>
                        <br>
                        <p> Password </p>
                        <div>
                            <input class="frmcntrl" type="password" id="password" name="password" placeholder="Enter the password" ng-model="login.password">
                        </div>
                        <div>
                            <button class="btn text-center" style="margin: 20px; color: white; background-color: #0f5f6d; " ng-click="signIn(login)"><span aria-hidden="true"> Login</span> </button>
                            <button class="btn text-center signup" ng-click="supplierreg()">Sign Up</button>
                        </div>
                    </form>
                    <div style="color:red;">
                        {{err}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.log {
    height: 110vh;
    z-index: 9;
}

.signup {
    margin: 20px;
    color: white;
    background-color: #0f5f6d;
}

.frmcntrl {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
</style>