<div class="col-md-12">
	<form name="registration">
		<div class="form-group">
			<label>Full Name</label>
			<input type="text" name="fullname" ng-model="obj.fullname" placeholder="Enter Full Name">
		</div>
		<div class="form-group">
			<label>Mobile Number</label>
			<input type="text" name="mobile" ng-model="obj.mobile" placeholder="Enter Mobile Number">
		</div>
		<div class="form-group">
			<label>Company Name</label>
			<select name="company_name" ng-options="data.company_name for data in company" ng-model="obj.company_name"><option value="">Select Company</option></select>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" ng-model="obj.password" placeholder="Enter Password">
		</div>
		<button class="btn btn-primary" type="submit" ng-click="register(obj)">Register
		</button>
	</form>
</div>